<div class="lgs-cb2-add-clue-help">
    <p>{{localize "LGS_CB2.AddClueDialog.Help.Intro"}}</p>

    <h4>{{localize "LGS_CB2.AddClueDialog.Help.CtrlDrag.Title"}}</h4>
    <p>{{{localize "LGS_CB2.AddClueDialog.Help.CtrlDrag.Desc"}}}</p>

    <h4>{{localize "LGS_CB2.AddClueDialog.Help.UseActorName.Title"}}</h4>
    <p>{{{localize "LGS_CB2.AddClueDialog.Help.UseActorName.Desc"}}}</p>

    <h4>{{localize "LGS_CB2.AddClueDialog.Help.Placeholder.Title"}}</h4>
    <p>{{{localize "LGS_CB2.AddClueDialog.Help.Placeholder.Desc"}}}</p>

    <h4>{{localize "LGS_CB2.AddClueDialog.Help.Node.Title"}}</h4>
    <p>{{{localize "LGS_CB2.AddClueDialog.Help.Node.Desc"}}}</p>
</div>